:root{
--first-color: #dbe48;
--second-color: #f5f5f5;
--third-color: #990099;
--fourth-color: black:
}

.banner{}

.title{}

.about{}
.profile{}
.about-me-txt{}

.career{}
.goals{}
.skills{}

.projects{}
.project{}

.contact-form{}
.contact{}

Input{}

input[type=button],{}

.jobs{}
.job{}

.education{}

.footer{}
  
